<div class="main-wrapper">
	<button class="add-person" (click)="addPerson()" *ngIf="!selectedPerson">Incluir uma nova pessoa</button>
	<table mat-table [dataSource]="persons" *ngIf="!selectedPerson">
		<tr mat-header-row *matHeaderRowDef="columns"></tr>
		<tr mat-row *matRowDef="let myRowData; columns: columns"></tr>
		<ng-container matColumnDef="name">
			<th mat-header-cell *matHeaderCellDef> Nome </th>
			<td mat-cell *matCellDef="let person"> {{person.name}} </td>
		</ng-container>
		<ng-container matColumnDef="cpf">
			<th mat-header-cell *matHeaderCellDef> CPF </th>
			<td mat-cell *matCellDef="let person"> {{person.cpf}} </td>
		</ng-container>
		<ng-container matColumnDef="phone">
			<th mat-header-cell *matHeaderCellDef> Telefone </th>
			<td mat-cell *matCellDef="let person"> {{person.phone}} </td>
		</ng-container>
		<ng-container matColumnDef="email">
			<th mat-header-cell *matHeaderCellDef> E-mail </th>
			<td mat-cell *matCellDef="let person"> {{person.email}} </td>
		</ng-container>
		<ng-container matColumnDef="cep">
			<th mat-header-cell *matHeaderCellDef> CEP </th>
			<td mat-cell *matCellDef="let person"> {{person.cep}} </td>
		</ng-container>
		<ng-container matColumnDef="state">
			<th mat-header-cell *matHeaderCellDef> Estado </th>
			<td mat-cell *matCellDef="let person"> {{person.state}} </td>
		</ng-container>
		<ng-container matColumnDef="city">
			<th mat-header-cell *matHeaderCellDef> Cidade </th>
			<td mat-cell *matCellDef="let person"> {{person.city}} </td>
		</ng-container>
		<ng-container matColumnDef="street">
			<th mat-header-cell *matHeaderCellDef> Rua </th>
			<td mat-cell *matCellDef="let person"> {{person.street}} </td>
		</ng-container>
		<ng-container matColumnDef="actions">
			<th mat-header-cell *matHeaderCellDef> Ações </th>
			<td mat-cell *matCellDef="let person">
				<p class="action" (click)="editPerson(person)">Editar</p>
				<p class="action" (click)="deletePerson(person)">Remover</p>
			</td>
		</ng-container>
	</table>

	<div class="loading" *ngIf="loading">Aguarde...</div>

	<div class="form" *ngIf="selectedPerson">
		<form (ngSubmit)="submit(selectedPerson)">
			<mat-form-field>
				<mat-label>Nome</mat-label>
				<input matInput [(ngModel)]="selectedPerson.name" name="name" required>
			</mat-form-field>
			<mat-form-field>
				<mat-label>CPF</mat-label>
				<input type="number" maxlength="11" matInput [(ngModel)]="selectedPerson.cpf" name="cpf" required>
			</mat-form-field>
			<mat-form-field>
				<mat-label>Telefone</mat-label>
				<input type="number" matInput [(ngModel)]="selectedPerson.phone" name="phone" required>
			</mat-form-field>
			<mat-form-field>
				<mat-label>Email</mat-label>
				<input matInput type="email" [(ngModel)]="selectedPerson.email" name="email" required>
			</mat-form-field>
			<mat-form-field>
				<mat-label>CEP</mat-label>
				<input type="number" matInput [(ngModel)]="selectedPerson.cep" name="cep" (keyup)="changeCep($event)" required>
			</mat-form-field>
			<mat-form-field class="readonly">
				<mat-label>Estado</mat-label>
				<input matInput readonly [(ngModel)]="selectedPerson.state" name="state" required>
			</mat-form-field>
			<mat-form-field class="readonly">
				<mat-label>Cidade</mat-label>
				<input matInput readonly [(ngModel)]="selectedPerson.city" name="city" required>
			</mat-form-field>
			<mat-form-field class="readonly">
				<mat-label>Rua</mat-label>
				<input matInput readonly [(ngModel)]="selectedPerson.street" name="street" required>
			</mat-form-field>
			<div id="buttons">
				<button type="button" (click)="cancel()">Cancelar</button>
				<button>Salvar</button>
			</div>
		</form>
	</div>
</div>