<form class="user-form" (ngSubmit)="formSubmit()" #userForm="ngForm">
    <mat-form-field appearance="outline">
        <mat-label>Nome</mat-label>
        <input matInput [(ngModel)]="user.name" type="text" id="name" name="name" #name="ngModel" required placeholder="Ex. José Pedro dos Santos">
        <div *ngIf="name.invalid">
        </div>
    </mat-form-field><br>
    <mat-form-field appearance="outline">
        <mat-label>CPF (Sem traços ou pontos)</mat-label>
        <input matInput maxlength="11" pattern="[0-9]{11}" [(ngModel)]="user.cpf" type="number" id="cpf" name="cpf" #cpf="ngModel" required placeholder="Ex. 11111111111">
        <div *ngIf="cpf.invalid && (cpf.dirty || cpf.touched)">
            <mat-error *ngIf="cpf.errors.required">Apenas números</mat-error>
        </div>
    </mat-form-field><br>
    <mat-form-field appearance="outline">
        <mat-label>Telefone</mat-label>
        <input matInput pattern="[0-9]*" [(ngModel)]="user.phone" type="tel" id="phone" name="phone" #phone="ngModel" required placeholder="Ex. 1599887766">
        <div *ngIf="phone.invalid && (phone.dirty || phone.touched)">
            <mat-error *ngIf="phone.errors.required">Apenas números</mat-error>
        </div>
    </mat-form-field><br>
    <mat-form-field appearance="outline">
        <mat-label>E-mail</mat-label>
        <input matInput pattern=".+@.+" [(ngModel)]="user.email" type="email" id="email" name="email" required placeholder="Ex. email@dominio.com.br">
    </mat-form-field><br>
    <mat-form-field appearance="outline">
        <mat-label>CEP (Sem traços)</mat-label>
        <input matInput pattern="[0-9]*" [(ngModel)]="user.cep" type="number" (keyup)="changeCep($event)" #cep="ngModel" name="cep" required placeholder="Ex. 11111111">
        <div *ngIf="cep.invalid && (cep.dirty || cep.touched)">
            <mat-error *ngIf="cep.errors.required">Apenas números</mat-error>
        </div>
    </mat-form-field><br>
    <mat-form-field appearance="outline">
        <mat-label>Estado (Sigla)</mat-label>
        <input matInput pattern="[a-zA-Z][a-zA-Z]" maxlength="2" [(ngModel)]="user.state" type="text" name="state" required placeholder="Ex. SP">
    </mat-form-field><br>
    <mat-form-field appearance="outline">
        <mat-label>Cidade</mat-label>
        <input matInput [(ngModel)]="user.city" type="text" name="city" required placeholder="Ex. São Paulo">
    </mat-form-field><br>
    <mat-form-field appearance="outline">
        <mat-label>Rua</mat-label>
        <input matInput [(ngModel)]="user.street" type="text" name="street" required placeholder="Ex. Rua nº7">
    </mat-form-field><br>
    <button mat-raised-button color="warn" (click)="formCancel()">Descartar alterações</button>
    <button type="submit" [disabled]="!userForm.form.valid" mat-raised-button color="primary">Salvar alterações</button>
</form>