.user-card {
  margin: 10px;
  padding: 10px;
}

.user-actions {
  margin: 40px 0 30px 0;
}

.label {
  width: 150px;
}

.mat-card-title {
  margin: 0 0 0 20px;
}

#searchInput {
  margin: 20px 20px 0 20px;
  padding: 0;
  width: 400px;
}

#searchSelect {
  margin: 20px 20px 0 20px;
  padding: 0;
  width: 200px;
}

.mat-display-1 {
  margin: 30px;
}