<mat-form-field appearance="outline">
    <mat-label>Buscar por nome</mat-label>
    <input matInput (keyup)="searchUsers($event)">
</mat-form-field>
<mat-card class="user-card" *ngFor="let user of users">
    <mat-card-title>
        {{user.name}}
    </mat-card-title>
    <mat-list>
        <mat-list-item>
            <div class="label">CPF:</div>
            {{user.cpf}}
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
            <div class="label">Telefone:</div>
            {{user.phone}}
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
            <div class="label">E-mail:</div>
            {{user.email}}
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
            <div class="label">CEP:</div>
            {{user.cep}}
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
            <div class="label">Cidade:</div>
            {{user.city}} - {{user.state}}
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
            <div class="label">Rua:</div>
            {{user.street}}
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
            <mat-card-actions class="user-actions">
                <button mat-raised-button color="primary" (click)="editUser(user)">Editar</button>
                <button mat-raised-button color="warn" (click)="openConfirmDialog(user)">Deletar</button>
            </mat-card-actions>
        </mat-list-item>
    </mat-list>

</mat-card>